In [1]:
from datetime import datetime
import pandas as pd

df = pd.read_csv("../profile_csvs/arianagrande.csv")

In [2]:
def convert_followers(str):
    if "m" in str:
        new_num = int(str.replace("m", ''))
        return new_num * 1_000_000
    elif "k" in str:
        new_num = int(str.replace("k", ""))
        return new_num * 1000
    else:
        return int(str)

In [3]:
df = df[~df['date'].isin(['Error', None])]
df = df[~df['likes'].isin(['Video', None])]

In [4]:
df["date_posted"] = df["date"].apply(lambda d : d[0:10])
df["time_posted"] = df["date"].apply(lambda d : d[11:16])

df["date_posted"] = pd.to_datetime(df["date_posted"])
# df["time_posted"] =  df["date"].dt.tz_localize(None)
df["time_posted"] = df["time_posted"].apply(lambda t : datetime.strptime(t, '%H:%M').time()) 

df["likes"] = df["likes"].apply(lambda l : int(l.replace(',', '')))
df["followers"] = df["followers"].apply(convert_followers)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3664 entries, 0 to 4659
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3664 non-null   int64
 1   name         3664 non-null   object
 2   posts        3664 non-null   object
 3   followers    3664 non-null   int64
 4   following    3664 non-null   int64
 5   likes        3664 non-null   int64
 6   comments     3664 non-null   object
 7   description  3664 non-null   object
 8   date         3664 non-null   object
 9   img_src      3664 non-null   object
 10  post_url     3664 non-null   object
 11  date_posted  3664 non-null   datetime64[ns]
 12  time_posted  3664 non-null   object
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 400.8+ KB

In [6]:
# df = df.sort_values(["date_posted", "time_posted", likes , ], ascending=True)

In [7]:
new_df = df[['followers', 'likes',"date_posted", "time_posted"]].copy()

In [8]:
new_df

      followers     likes date_posted time_posted
0     200000000   3706202  2020-08-30    22:05:00
1     200000000   2651045  2020-08-30    22:00:00
2     200000000  11498986  2020-08-24    22:29:00
3     200000000   6966303  2020-08-24    22:28:00
4     200000000   2444410  2020-08-19    16:07:00
...         ...       ...         ...         ...
4655  200000000     81173  2012-05-09    18:06:00
4656  200000000    145662  2012-05-09    17:21:00
4657  200000000    189474  2012-05-08    15:40:00
4658  200000000    125772  2012-05-06    07:08:00
4659  200000000    308276  2011-12-26    06:10:00

[3664 rows x 4 columns]

In [9]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3664 entries, 0 to 4659
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   followers    3664 non-null   int64
 1   likes        3664 non-null   int64
 2   date_posted  3664 non-null   datetime64[ns]
 3   time_posted  3664 non-null   object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 143.1+ KB