In [1]:
from datetime import datetime
import pandas as pd

df = pd.read_csv("../profile_csvs/arianagrande.csv")

In [2]:
def convert_followers(str):
    if "m" in str:
        new_num = int(str.replace("m", ''))
        return new_num * 1_000_000
    elif "k" in str:
        new_num = int(str.replace("k", ""))
        return new_num * 1000
    else:
        return int(str)

In [3]:
df = df[~df['date'].isin(['Error', None])]
df = df[~df['likes'].isin(['Video', None])]

In [4]:
df["date_posted"] = df["date"].apply(lambda d : d[0:10])
df["time_posted"] = df["date"].apply(lambda d : d[11:16])

df["date_posted"] = pd.to_datetime(df["date_posted"])
df["time_posted"] = df["time_posted"].apply(lambda t : datetime.strptime(t, '%H:%M').time()) 

df["likes"] = df["likes"].apply(lambda l : int(l.replace(',', '')))
df["followers"] = df["followers"].apply(convert_followers)

df["date"] = pd.to_datetime(df["date"])
df["date"] = df["date"].dt.tz_localize(None)

df["likes_followers"] =   df["likes"] / df["followers"]

In [6]:
new_df = df[['followers', 'likes', "likes_followers", "date_posted", "time_posted", "date"]].copy()

In [8]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3664 entries, 0 to 4659
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   followers        3664 non-null   int64
 1   likes            3664 non-null   int64
 2   likes_followers  3664 non-null   float64
 3   date_posted      3664 non-null   datetime64[ns]
 4   time_posted      3664 non-null   object
 5   date             3664 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 200.4+ KB

In [13]:
new_df[:len(new_df) / 2]

,followers,likes,likes_followers,date_posted,time_posted,date
0,200000000,3706202,0.018531,2020-08-30,22:05:00,2020-08-30 22:05:46
1,200000000,2651045,0.013255,2020-08-30,22:00:00,2020-08-30 22:00:58
2,200000000,11498986,0.057495,2020-08-24,22:29:00,2020-08-24 22:29:13
3,200000000,6966303,0.034832,2020-08-24,22:28:00,2020-08-24 22:28:32
4,200000000,2444410,0.012222,2020-08-19,16:07:00,2020-08-19 16:07:53
...,...,...,...,...,...,...
4655,200000000,81173,0.000406,2012-05-09,18:06:00,2012-05-09 18:06:11
4656,200000000,145662,0.000728,2012-05-09,17:21:00,2012-05-09 17:21:43
4657,200000000,189474,0.000947,2012-05-08,15:40:00,2012-05-08 15:40:18
4658,200000000,125772,0.000629,2012-05-06,07:08:00,2012-05-06 07:08:31
4659,200000000,308276,0.001541,2011-12-26,06:10:00,2011-12-26 06:10:12